bash/.bash_history

calcurse/.config/calcurse/notes
calcurse/.config/calcurse/apts
calcurse/.config/calcurse/todo

mpd/.config/mpd/playlists
mpd/.config/mpd/database
mpd/.config/mpd/pid
mpd/.config/mpd/sticker.sql

nvim/.config/nvim/.netrwhist

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history

x/.Xauthority
x/.dmrc

zsh/.config/zsh/.zcompdump

*.swp
