# Aside from a few general rules, all ignored patterns are set via a .gitignore
# in the local application directories themselves. 
# 
# For example, the 'nvim' package ignores its own 'netwhistory' file via a
# './nvim/.config/nvim/.gitignore'.  

*.swp
