[Unit]
Description=Warn if battery is low

[Service]
Type=oneshot
ExecStart=/home/yashlala/.local/scripts/check-battery

[Install]
WantedBy=default.target