[Unit]
Description=Autostart XDG services with dex
Documentation=man:dex(1)
PartOf=sway-session.target i3-session.target

# TODO: This isn't working.
[Service]
Type=oneshot
ExecStart=dex -a -s %h/.config/autostart

[Install]
WantedBy=sway-session.target i3-session.target
