[Unit]
ConditionEnvironment=DISPLAY
Description=i3 User Session
# TODO: maybe this should want graphical-session and not require?
Requires=graphical-session.target
Wants=xdg-desktop-autostart.target
