[Unit]
Description=Symlink '~/io' to a temporary directory in '/tmp'.

[Service]
Type=oneshot
ExecStart=/home/yashlala/.local/scripts/make-io-a-tmpdir

[Install]
WantedBy=default.target