[Unit]
Description=Sync Taskwarrior with personal website

[Service]
Type=oneshot
ExecStart=/usr/bin/chronic /usr/bin/task sync

[Install]
WantedBy=default.target
