[Unit]
Description=Copy Gmail contents to local Maildir

[Service]
Type=oneshot
ExecStart=/usr/bin/zsh /home/yashlala/.local/scripts/sync-email

[Install]
WantedBy=default.target