[Unit]
Description=Sync local Maildir to cloud on logout.

[Service]
Type=oneshot
RemainAfterExit=true
# TODO: code duplicated, just call the other service.
ExecStop=/usr/bin/zsh /home/lala/.local/scripts/sync-email

[Install]
WantedBy=default.target
