[Unit]
Description=Copy updated shell completions to local fpath. 

[Service]
Type=oneshot
ExecStart=/usr/bin/sh /home/yashlala/.local/scripts/sync-completions

[Install]
WantedBy=default.target
