/* TODO set bar to our ancient i3 theme */
@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: DejaVu Sans Mono;
    font-size: 11pt;
    min-height: 0;
}
window#waybar {
    background: @background-darker;
    color: @foreground;
}
#workspaces button {
    padding: 0 5px;
    background: @background;
    color: @foreground;
}
#workspaces button.active {
    background: @selection;
}
#workspaces button.urgent {
    background: @red;
}
#taskbar button.active {
    background-image: linear-gradient(0deg, @selection, @background-darker);
}

#tray,
#pulseaudio,
#battery,
#backlight,
#clock {
    padding: 0 5px;
    background: @background-darker;
}

/* Low battery should flash */
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 10;
    animation-direction: alternate;
}
