#!/bin/sh

export PATH=$PATH:$HOME/code/bin/
export EDITOR=nvim
export VISUAL=nvim
export KEYTIMEOUT=2 #speed up zsh vi mode
export QT_SCALE_FACTOR=2 #scale up ui for hdpi screens

export NETHACKOPTIONS=$HOME/.config/nethack/nethackrc 
export GNUPGHOME=$HOME/.local/share/gnupg/
export WEECHAT_HOME=$HOME/.config/weechat/

userresources=$HOME/.config/x/xresources
usermodmap=$HOME/.config/x/xmodmap
sysresources=/etc/X11/xinit/.Xresources
sysmodmap=/etc/X11/xinit/.Xmodmap

# merge in defaults and keymaps

if [ -f $sysresources ]; then
    xrdb -merge $sysresources
fi

if [ -f $sysmodmap ]; then
    xmodmap $sysmodmap
fi

if [ -f "$userresources" ]; then
    xrdb -merge "$userresources"
fi

if [ -f "$usermodmap" ]; then
    xmodmap "$usermodmap"
fi
